flasgger
Flask-HTTPAuth
flask-restful-swagger
Flask-Track-Usage
Flask-WTF
itsdangerous
Jinja2
urllib3
WTForms
xlrd
uwsgi
Flask_SQLAlchemy
dash_html_components
Werkzeug
dash_core_components
Flask_RESTful
SQLAlchemy
Flask_Login
Flask
flask
dash
plotly
pymongo
requests
dash_bootstrap_components
dash_uploader
packaging
Pillow
pandas
numpy
scikit_learn
seaborn
matplotlib
